* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3em;
  font-family: inherit;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="range"] {
  width: 100%;
  height: 14px;
  border-radius: 8px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

main {
  display: flex;
  flex: 1;
  background-color: white;
}

.header {
  background-color: #222;
  color: white;
  padding: 6px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  z-index: 10;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.header .tools button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  cursor: pointer;
}
.header button {
  line-height: 1.25em;
}

.action {
  background-color: rgb(23, 96, 253);
  font-family: inherit;
  font-size: inherit;
  padding: 6px 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.25em;
}

.action.not {
  background-color: #888;
}

.side-bar {
  width: 280px;
  flex: 0 0 280px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.side-bar header {
  margin: 0 10px;
  padding: 10px 0;
  font-size: 14px;
  color: #222;
  text-align: center;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
.side-bar header > i {
  margin-left: 8px;
  color: #666;
}
.main-display {
  width: 100%;
  flex: 1 1 100%;
}

.input-container {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
}
.input-container .caption {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 4px;
}
.input-box {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}
.input-box.linear {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-box.linear.end {
  justify-content: flex-end;
}
.input-box input {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1em;
  border: none;
  border-radius: 5px;
  order: 2;
  transition: all 300ms;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.input-box input.tiny {
  width: 60px;
}
.input-box input:hover,
.input-box input:focus {
  outline: none;
  color: rgb(23, 96, 253);
  box-shadow: 0 0 5px rgb(23, 96, 253);
}
.input-box input:hover ~ *,
.input-box input:focus ~ * {
  outline: none;
  border-color: rgb(23, 96, 253);
  color: rgb(23, 96, 253);
}

.input-box label {
  font-size: 14px;
  order: 1;
  transition: all 300ms;
  margin: 4px 0;
}
.input-box.linear label,
.input-box.linear input {
  margin: 0 0 0 8px;
}

.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-container > .size-form {
  padding: 20px;
  max-width: 420px;
}
.form-container > .size-form .caption {
  padding: 6px 0;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.form-container > .size-form button {
  margin: 10px auto;
  display: flex;
  width: fit-content;
}
.form-container .size-form .sizes {
  width: fit-content;
  display: flex;
  margin: auto;
}
.form-container .size-form .sizes > * {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.board-container {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.board-container .magnifier {
  padding: 2px 4px;
  flex: 0;
}

.board-container .board-box {
  position: relative;
  flex: 1;
}

.board-container svg {
  overflow: auto;
  position: absolute;
  transform-origin: top left;
}

.tool-form {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px #aaa;
  border-radius: 5px;
  z-index: 10;
  padding: 16px;
  transform: translate(-150%, 50px);
  transform-origin: top left;
  transition: all 300ms;
}

.form-one {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.form-one > * {
  margin: 2px 0;
}
.form-one .heading {
  text-align: center;
  border-bottom: 1px solid #aaa;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 2px;
}
.form-one .note {
  font-size: 14px;
  text-align: center;
  color: #666;
}
.form-one .footer {
  border-top: 1px solid #aaa;
  padding-top: 8px;
}

@media screen and (max-width: 767px) {
  main .side-bar {
    flex: 1 3 100%;
  }
  main .main-display {
    width: 100%;
    flex: 1 2 100%;
  }
}
